version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
    groups:
      all:
        patterns:
          - '*'
       # seems that split between prod & test deps is not implemented for gradle
       # dependency-type: production
