name: matrix_test

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  provider-list:
    runs-on: ubuntu-latest
    outputs:
      test-classes: ${{ steps.test-classes.outputs.test-classes }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: List provider test classes
        id: test-classes
        run: |
          CLASSES=$(ls src/test/java/dev/harrel/jsonschema/providers/ | sed 's/\.java$//' | jq -R -s -c 'split("\n")[:-1]')
          echo "test-classes=$CLASSES" >> "$GITHUB_OUTPUT"

  matr:
    needs: provider-list
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-class: ${{ fromJSON(needs.provider-list.outputs.test-classes) }}

    steps:
      - uses: actions/checkout@v3
      - run: echo "hello"
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.2.1

      - name: Gradle provider tests
        run: ./gradlew test --tests ${{ matrix }}